{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% comment %} <img src="{% static 'images/sitelogo.png' %}" alt="Logo"> {% endcomment %}
    {% block content %}{% endblock %}
</body>
</html>
